.login-page {
    background-image: url('customer/assets/img/bg-login.jpeg'); /* Sesuaikan path gambar Anda */
    background-size: cover; /* Memastikan gambar menutupi seluruh area */
    background-position: center center; /* Memusatkan gambar */
    background-repeat: no-repeat; /* Mencegah gambar mengulang */
    /* background-attachment: fixed; */ /* Opsional: Jika ingin gambar tidak ikut scroll */
}
